@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.indexBodyCls {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
}

.headerClass {
    display: flex;
}

.headerLogo {
    margin-top: 20px;
    margin-left: 18px;
}

.headerObj2 {
    margin-top: 35px;
    margin-left: 950px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    height: 40px;
}

.headerObj3 {
    margin-top: 35px;
    margin-left: 70px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    height: 40px;
}

.headerObj4 {
    margin-top: 35px;
    margin-left: 70px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    height: 40px;
    /* text-decoration-color: none; */
}

.headerObj5 {
    margin-top: 35px;
    margin-left: 70px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    height: 40px;
}

.headerObj6 {
    margin-top: 35px;
    margin-left: 70px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    height: 40px;
}

.headerClass a:hover {
    color: rgb(153, 149, 149);
}

.shopArrow {
    margin-top: -24px;
    margin-left: 59px;
    font-size: 35px;
}

.aboutArrow{
    margin-top: -24px;
    margin-left: 67px;
    font-size: 35px;
}

.shopContent {
    display: none;
    position: absolute;
    /* width: 170px;
    height: 180px; */
    background-color: rgb(153, 149, 149);
    color: black;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
    padding: 0px 0px 0px 0px;
    font-size: 17px;
    z-index: 1;
}

.headerObj3:hover .shopContent {
    display: block;
}

.aboutContent {
    display: none;
    position: absolute;
    background-color: rgb(153, 149, 149);
    color: black;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
    padding: 0px 0px 0px 0px;
    font-size: 17px;
    z-index: 1;
}

.headerObj6:hover .aboutContent {
    display: block;
}

.quote1{
    margin-top: 120px;
    margin-left: 150px;
    width: 500px;
    height: 200px;
    justify-content: left;
    background-color: transparent;
    opacity: .5;
    /* border-style: solid;
    border-width: 15px; */
    /* border-color: grey; */
    border-radius: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    color: rgb(255, 253, 251);
    text-transform: uppercase;
}

.partnersBodyCls{
    background-image: url('/images/background2.png');
    background-repeat: no-repeat;
    position: absolute;
}

.partnersDiv{
    background-color: black;
    margin-left: 300px;
    margin-top: -40px;
    width: 1300px;
    height: 870px;
    /* justify-content: center; */
    /* background-color: transparent; */
    opacity: .9;
    /* border-style: solid;
    border-width: 15px; */
    /* border-color: grey; */
    border-radius: 40px;
    /* font-family: 'Bebas Neue', sans-serif; */
    font-size: 35px;
    color: rgb(243, 241, 240);
}

.titlePartnercls{
    text-align: center;
    padding-top: 30px;
}

.titlePartnerLogo{
    padding-left: 490px;
}

.principalPartnercls{
    text-align: center;
}

.principalPartnerLogo{
    padding-left: 560px;
}

.teamPartnerscls{
    text-align: center;
}

.teamPartnersLogo{
    padding-left: 100px;
}

.shopContent p a{ 
    color: black;
    text-decoration: none;
}

.shopContent p{ 
    background-color: grey;
    padding: 10px;
    margin: -4px;
}

.shopContent p:hover{
    background-color: green;
}

.shopContent p a:hover{ 
    color: black;
    text-decoration: none;
}

.aboutContent p a {
    color: black;
    text-decoration: none;
}

.aboutContent p{ 
    background-color: grey;
    padding: 10px;
    margin: -4px;
}

.aboutContent p:hover{
    background-color: green;
}

.aboutContent p a:hover{
    color: black;
    text-decoration: none;
}

.driverCardsHeader{
    margin: 0px;
}

.sectionOne{
    margin: 0px 0px 0px 0px;
    padding: 5px;
    background-color: black;
    color: white;
    /* text-align: center; */
}

.sectionOneTitle a{
    text-decoration: none;
    font-size: 10px;
    color: white;
    margin-left: 790px;
}

.sectionOneMercedesF1Site a{
    text-decoration: none;
    font-size: 10px;
    color: white;
    margin-left: 490px;
}

.sectionOneLoginResgister a{
    text-decoration: none;
    font-size: 10px;
    color: white;
    margin-left: 20px;
}

.sectionTwo{
    display: flex;
    background-color: rgb(17,17,17);
    padding-bottom: 5px;
    font-size: 13px;
}

.sectionTwoMercLogo{
    /* padding: 30px; */
    margin-top: 10px;
    margin-left: 20px;
}

.sectionTwoTeamwear{
    text-decoration: none;
    color: white;
    /* padding: 30px */
    margin-top: 25px ;
    margin-left: 400px;
}

.sectionTwoFanwear {
    text-decoration: none;
    color: white;
    /* padding: 30px; */
    margin-top: 25px;
    margin-left: 50px;
}

.sectionTwoLewishamilton{
    text-decoration: none;
    color: white;
    /* padding: 30px */
    margin-top: 25px;
    margin-left: 50px;
}

.sectionTwoGeorgerussell{
    text-decoration: none;
    color: white;
    /* padding: 30px */
    margin-top: 25px;
    margin-left: 50px;
}

.sectionTwoCollections{
    text-decoration: none;
    color: white;
    /* padding: 30px */
    margin-top: 25px;
    margin-left: 50px;
}

.sectionTwoSale{
    text-decoration: none;
    color: white;
    /* padding: 30px */
    margin-top: 25px;
    margin-left: 50px;
}

/* .sectionShopSearch{
    text-decoration: none;
    margin-left: 100px;
    padding-top: -20px;
} */

.sectionThree {
    background-image: url('/images/driverPoster.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
}

.sectionThreedriverCardTitle{
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    text-align: center;
}